*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}
.season{
    width: 100vw;
    height: 100vh;
    /* transition: background 0.6s ease; */
}
.summer{
    /* background: linear-gradient(rgba(255,153,0,0.6), rgba(255,235,59,0.6)), url('./summer-season-background.jpg') center/cover no-repeat; */
    background: url('./summer-season-background.jpg') center/cover no-repeat;
    background-size: cover;
}
.winter{
    background: url('./winter-bg-image.webp') no-repeat center/cover  ;
}
.rainy{
    background: url('./rain-season-background.gif') no-repeat center/cover  ;
}
.spring{
    background: url('./spring-season-bg.jpeg') no-repeat center/cover  ;
}
.autumn{
    background: url('./autumn-seaon-background.gif') no-repeat center/cover  ;
}
.season-card {
  width: 330px;
  height: 450px;
  padding: 25px 20px;
  text-align: center;
  border-radius: 20px;

  /* Glassmorphism effect */
  background: rgba(180, 180, 180, 0.25);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  animation: fadeIn 1.5s ease;
}
/* Smooth animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
/* Season image */
 .season-card img{
  animation: zoomImg 1.2s ease forwards;
}
@keyframes zoomImg{
  from{
    opacity:0;
    transform: scale(0.85);
  }
  to{
    opacity:1;
    transform: scale(1);
  }
}


/* Description text */
.season-card p{
  font-size: 15.5px;
  line-height: 1.8;
  letter-spacing: 0.4px;
  text-shadow: 0 2px 6px rgba(0,0,0,0.4);
  padding: 10px 14px;
  border-radius: 12px;

  /* Glass look */
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(6px);

  /* Animation */
  opacity: 0;
  animation: paraFade 1.6s ease forwards;
  animation-delay: .6s;
}


@keyframes paraFade{
  from{
    opacity: 0;
    transform: translateY(18px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.season-card:hover{
  transform: scale(1.05);
  box-shadow: 0 30px 60px rgba(0,0,0,0.35);
}
.summer h5{ color:#ffc13b !important; }
.winter h5{ color:#b3e5fc !important; }
.rainy h5{ color:#64dd73 !important;}
.spring h5{ color:rgb(233,30,99) !important; }
.autumn h5{ color:#ffcc80!important; }
.summer p{
  color:#fff3cd !important;
  background: rgba(255,193,7,0.15);
}

.winter p{
  color:#e3f2fd !important;
  background: rgba(3,169,244,0.15);
}

.rainy p{
  color:#74e193 !important;
  background: rgba(58, 243, 33, 0.15);
}

.spring p{
  color:#fce4ec !important;
  background: rgba(233,30,99,0.15);
}

.autumn p{
  color:#fff8e1 !important;
  background: rgba(255,152,0,0.18);
}


/*  Mobile responsive */
@media (max-width: 480px) {
  .season-card {
    width: 90%;
    padding: 20px;
  }

  .season-card h2 {
    font-size: 22px;
  }

}
